:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #000000;

  font-synthesis: none;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --ui-main-color: #dbc11a; */
  /* --ui-main-color-light: #ffe015; */
  --ui-main-color: #a662d7;
  --ui-main-color-light: #bb7be9;
  --ui-bg-color-1: #363636;
  --ui-bg-color-2: #404040;
  --ui-bg-color-3: #242424;
  --ui-dark-text-color: rgb(25, 25, 25);
  --ui-light-text-color: #cfcfcf;
  --scrollbar-dark-second: #2a2a2a;
}

html,
body {
  margin: 0;
  height: 100%;
  position: relative;
}

#root {
  top: 0;
  left: 0;
  position: fixed;
  /* fix to min width and height */
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url('/public/test.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}